{
	"env": {
		"production": {
			"presets": ["next/babel", "@babel/preset-typescript"],
			"plugins": ["emotion"]
		},
		"development": {
			"presets": ["next/babel", "@babel/preset-typescript"],
			"plugins": [["emotion", { "sourceMap": true }]]
		}
	}
}
